@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600&display=swap');

:root {
    --main-color: #b359b8;
    --secondary-color: #bc94be;
    --secondary-color-r: 188;
    --secondary-color-g: 148;
    --secondary-color-b: 190;
    --background-color: rgb(40, 42, 46);
    --secondary-background-color: rgb(45, 47, 51);
    --accent-background-color: rgb(37, 38, 41);
    --third-background-color: rgb(32, 34, 37);
}

html {
    height: 100%;
    background-color: var(--background-color);
}

body {
    min-height: 100vh;
    padding: 0;
    font-family: 'Rubik', sans-serif;
    color: white;
    font-weight: 400;
}

a {
    color: var(--secondary-color) !important;
    font-weight: bolder;
    text-decoration: none;
}

path {
    fill: var(--secondary-color);
}
